/*
  Icon Font: Feather
*/

@font-face {
  font-family: "Feather";
  src: url("/fonts/Feather.eot");
  src: url("/fonts/Feather.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Feather.woff2") format("woff2"),
       url("/fonts/Feather.woff") format("woff"),
       url("/fonts/Feather.ttf") format("truetype"),
       url("/fonts/Feather.svg#Feather") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Feather";
    src: url("/fonts/Feather.svg#Feather") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-activity:before,
.icon-airplay:before,
.icon-alert-circle:before,
.icon-alert-octagon:before,
.icon-alert-triangle:before,
.icon-align-center:before,
.icon-align-justify:before,
.icon-align-left:before,
.icon-align-right:before,
.icon-anchor:before,
.icon-aperture:before,
.icon-archive:before,
.icon-arrow-down:before,
.icon-arrow-down-circle:before,
.icon-arrow-down-left:before,
.icon-arrow-down-right:before,
.icon-arrow-left:before,
.icon-arrow-left-circle:before,
.icon-arrow-right:before,
.icon-arrow-right-circle:before,
.icon-arrow-up:before,
.icon-arrow-up-circle:before,
.icon-arrow-up-left:before,
.icon-arrow-up-right:before,
.icon-at-sign:before,
.icon-award:before,
.icon-bar-chart:before,
.icon-bar-chart-2:before,
.icon-battery:before,
.icon-battery-charging:before,
.icon-bell:before,
.icon-bell-off:before,
.icon-bluetooth:before,
.icon-bold:before,
.icon-book:before,
.icon-book-open:before,
.icon-bookmark:before,
.icon-box:before,
.icon-briefcase:before,
.icon-calendar:before,
.icon-camera:before,
.icon-camera-off:before,
.icon-cast:before,
.icon-check:before,
.icon-check-circle:before,
.icon-check-square:before,
.icon-chevron-down:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-chevron-up:before,
.icon-chevrons-down:before,
.icon-chevrons-left:before,
.icon-chevrons-right:before,
.icon-chevrons-up:before,
.icon-chrome:before,
.icon-circle:before,
.icon-clipboard:before,
.icon-clock:before,
.icon-cloud:before,
.icon-cloud-drizzle:before,
.icon-cloud-lightning:before,
.icon-cloud-off:before,
.icon-cloud-rain:before,
.icon-cloud-snow:before,
.icon-code:before,
.icon-codepen:before,
.icon-codesandbox:before,
.icon-coffee:before,
.icon-columns:before,
.icon-command:before,
.icon-compass:before,
.icon-copy:before,
.icon-corner-down-left:before,
.icon-corner-down-right:before,
.icon-corner-left-down:before,
.icon-corner-left-up:before,
.icon-corner-right-down:before,
.icon-corner-right-up:before,
.icon-corner-up-left:before,
.icon-corner-up-right:before,
.icon-cpu:before,
.icon-credit-card:before,
.icon-crop:before,
.icon-crosshair:before,
.icon-database:before,
.icon-delete:before,
.icon-disc:before,
.icon-dollar-sign:before,
.icon-download:before,
.icon-download-cloud:before,
.icon-droplet:before,
.icon-edit:before,
.icon-edit-2:before,
.icon-edit-3:before,
.icon-external-link:before,
.icon-eye:before,
.icon-eye-off:before,
.icon-facebook:before,
.icon-fast-forward:before,
.icon-feather:before,
.icon-figma:before,
.icon-file:before,
.icon-file-minus:before,
.icon-file-plus:before,
.icon-file-text:before,
.icon-film:before,
.icon-filter:before,
.icon-flag:before,
.icon-folder:before,
.icon-folder-minus:before,
.icon-folder-plus:before,
.icon-framer:before,
.icon-frown:before,
.icon-gift:before,
.icon-git-branch:before,
.icon-git-commit:before,
.icon-git-merge:before,
.icon-git-pull-request:before,
.icon-github:before,
.icon-gitlab:before,
.icon-globe:before,
.icon-grid:before,
.icon-hard-drive:before,
.icon-hash:before,
.icon-headphones:before,
.icon-heart:before,
.icon-help-circle:before,
.icon-hexagon:before,
.icon-home:before,
.icon-image:before,
.icon-inbox:before,
.icon-info:before,
.icon-instagram:before,
.icon-italic:before,
.icon-key:before,
.icon-layers:before,
.icon-layout:before,
.icon-life-buoy:before,
.icon-link:before,
.icon-link-2:before,
.icon-linkedin:before,
.icon-list:before,
.icon-loader:before,
.icon-lock:before,
.icon-log-in:before,
.icon-log-out:before,
.icon-mail:before,
.icon-map:before,
.icon-map-pin:before,
.icon-maximize:before,
.icon-maximize-2:before,
.icon-meh:before,
.icon-menu:before,
.icon-message-circle:before,
.icon-message-square:before,
.icon-mic:before,
.icon-mic-off:before,
.icon-minimize:before,
.icon-minimize-2:before,
.icon-minus:before,
.icon-minus-circle:before,
.icon-minus-square:before,
.icon-monitor:before,
.icon-moon:before,
.icon-more-horizontal:before,
.icon-more-vertical:before,
.icon-mouse-pointer:before,
.icon-move:before,
.icon-music:before,
.icon-navigation:before,
.icon-navigation-2:before,
.icon-octagon:before,
.icon-package:before,
.icon-paperclip:before,
.icon-pause:before,
.icon-pause-circle:before,
.icon-pen-tool:before,
.icon-percent:before,
.icon-phone:before,
.icon-phone-call:before,
.icon-phone-forwarded:before,
.icon-phone-incoming:before,
.icon-phone-missed:before,
.icon-phone-off:before,
.icon-phone-outgoing:before,
.icon-pie-chart:before,
.icon-play:before,
.icon-play-circle:before,
.icon-plus:before,
.icon-plus-circle:before,
.icon-plus-square:before,
.icon-pocket:before,
.icon-power:before,
.icon-printer:before,
.icon-radio:before,
.icon-refresh-ccw:before,
.icon-refresh-cw:before,
.icon-repeat:before,
.icon-rewind:before,
.icon-rotate-ccw:before,
.icon-rotate-cw:before,
.icon-rss:before,
.icon-save:before,
.icon-scissors:before,
.icon-search:before,
.icon-send:before,
.icon-server:before,
.icon-settings:before,
.icon-share:before,
.icon-share-2:before,
.icon-shield:before,
.icon-shield-off:before,
.icon-shopping-bag:before,
.icon-shopping-cart:before,
.icon-shuffle:before,
.icon-sidebar:before,
.icon-skip-back:before,
.icon-skip-forward:before,
.icon-slack:before,
.icon-slash:before,
.icon-sliders:before,
.icon-smartphone:before,
.icon-smile:before,
.icon-speaker:before,
.icon-square:before,
.icon-star:before,
.icon-stop-circle:before,
.icon-sun:before,
.icon-sunrise:before,
.icon-sunset:before,
.icon-tablet:before,
.icon-tag:before,
.icon-target:before,
.icon-terminal:before,
.icon-thermometer:before,
.icon-thumbs-down:before,
.icon-thumbs-up:before,
.icon-toggle-left:before,
.icon-toggle-right:before,
.icon-trash:before,
.icon-trash-2:before,
.icon-trello:before,
.icon-trending-down:before,
.icon-trending-up:before,
.icon-triangle:before,
.icon-truck:before,
.icon-tv:before,
.icon-twitter:before,
.icon-type:before,
.icon-umbrella:before,
.icon-underline:before,
.icon-unlock:before,
.icon-upload:before,
.icon-upload-cloud:before,
.icon-user:before,
.icon-user-check:before,
.icon-user-minus:before,
.icon-user-plus:before,
.icon-user-x:before,
.icon-users:before,
.icon-video:before,
.icon-video-off:before,
.icon-voicemail:before,
.icon-volume:before,
.icon-volume-1:before,
.icon-volume-2:before,
.icon-volume-x:before,
.icon-watch:before,
.icon-wifi:before,
.icon-wifi-off:before,
.icon-wind:before,
.icon-x:before,
.icon-x-circle:before,
.icon-x-octagon:before,
.icon-x-square:before,
.icon-youtube:before,
.icon-zap:before,
.icon-zap-off:before,
.icon-zoom-in:before,
.icon-zoom-out:before {
  display: inline-block;
  font-family: "Feather";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-activity:before { content: "\f100"; }
.icon-airplay:before { content: "\f101"; }
.icon-alert-circle:before { content: "\f102"; }
.icon-alert-octagon:before { content: "\f103"; }
.icon-alert-triangle:before { content: "\f104"; }
.icon-align-center:before { content: "\f105"; }
.icon-align-justify:before { content: "\f106"; }
.icon-align-left:before { content: "\f107"; }
.icon-align-right:before { content: "\f108"; }
.icon-anchor:before { content: "\f109"; }
.icon-aperture:before { content: "\f10a"; }
.icon-archive:before { content: "\f10b"; }
.icon-arrow-down:before { content: "\f10c"; }
.icon-arrow-down-circle:before { content: "\f10d"; }
.icon-arrow-down-left:before { content: "\f10e"; }
.icon-arrow-down-right:before { content: "\f10f"; }
.icon-arrow-left:before { content: "\f110"; }
.icon-arrow-left-circle:before { content: "\f111"; }
.icon-arrow-right:before { content: "\f112"; }
.icon-arrow-right-circle:before { content: "\f113"; }
.icon-arrow-up:before { content: "\f114"; }
.icon-arrow-up-circle:before { content: "\f115"; }
.icon-arrow-up-left:before { content: "\f116"; }
.icon-arrow-up-right:before { content: "\f117"; }
.icon-at-sign:before { content: "\f118"; }
.icon-award:before { content: "\f119"; }
.icon-bar-chart:before { content: "\f11a"; }
.icon-bar-chart-2:before { content: "\f11b"; }
.icon-battery:before { content: "\f11c"; }
.icon-battery-charging:before { content: "\f11d"; }
.icon-bell:before { content: "\f11e"; }
.icon-bell-off:before { content: "\f11f"; }
.icon-bluetooth:before { content: "\f120"; }
.icon-bold:before { content: "\f121"; }
.icon-book:before { content: "\f122"; }
.icon-book-open:before { content: "\f123"; }
.icon-bookmark:before { content: "\f124"; }
.icon-box:before { content: "\f125"; }
.icon-briefcase:before { content: "\f126"; }
.icon-calendar:before { content: "\f127"; }
.icon-camera:before { content: "\f128"; }
.icon-camera-off:before { content: "\f129"; }
.icon-cast:before { content: "\f12a"; }
.icon-check:before { content: "\f12b"; }
.icon-check-circle:before { content: "\f12c"; }
.icon-check-square:before { content: "\f12d"; }
.icon-chevron-down:before { content: "\f12e"; }
.icon-chevron-left:before { content: "\f12f"; }
.icon-chevron-right:before { content: "\f130"; }
.icon-chevron-up:before { content: "\f131"; }
.icon-chevrons-down:before { content: "\f132"; }
.icon-chevrons-left:before { content: "\f133"; }
.icon-chevrons-right:before { content: "\f134"; }
.icon-chevrons-up:before { content: "\f135"; }
.icon-chrome:before { content: "\f136"; }
.icon-circle:before { content: "\f137"; }
.icon-clipboard:before { content: "\f138"; }
.icon-clock:before { content: "\f139"; }
.icon-cloud:before { content: "\f13a"; }
.icon-cloud-drizzle:before { content: "\f13b"; }
.icon-cloud-lightning:before { content: "\f13c"; }
.icon-cloud-off:before { content: "\f13d"; }
.icon-cloud-rain:before { content: "\f13e"; }
.icon-cloud-snow:before { content: "\f13f"; }
.icon-code:before { content: "\f140"; }
.icon-codepen:before { content: "\f141"; }
.icon-codesandbox:before { content: "\f142"; }
.icon-coffee:before { content: "\f143"; }
.icon-columns:before { content: "\f144"; }
.icon-command:before { content: "\f145"; }
.icon-compass:before { content: "\f146"; }
.icon-copy:before { content: "\f147"; }
.icon-corner-down-left:before { content: "\f148"; }
.icon-corner-down-right:before { content: "\f149"; }
.icon-corner-left-down:before { content: "\f14a"; }
.icon-corner-left-up:before { content: "\f14b"; }
.icon-corner-right-down:before { content: "\f14c"; }
.icon-corner-right-up:before { content: "\f14d"; }
.icon-corner-up-left:before { content: "\f14e"; }
.icon-corner-up-right:before { content: "\f14f"; }
.icon-cpu:before { content: "\f150"; }
.icon-credit-card:before { content: "\f151"; }
.icon-crop:before { content: "\f152"; }
.icon-crosshair:before { content: "\f153"; }
.icon-database:before { content: "\f154"; }
.icon-delete:before { content: "\f155"; }
.icon-disc:before { content: "\f156"; }
.icon-dollar-sign:before { content: "\f157"; }
.icon-download:before { content: "\f158"; }
.icon-download-cloud:before { content: "\f159"; }
.icon-droplet:before { content: "\f15a"; }
.icon-edit:before { content: "\f15b"; }
.icon-edit-2:before { content: "\f15c"; }
.icon-edit-3:before { content: "\f15d"; }
.icon-external-link:before { content: "\f15e"; }
.icon-eye:before { content: "\f15f"; }
.icon-eye-off:before { content: "\f160"; }
.icon-facebook:before { content: "\f161"; }
.icon-fast-forward:before { content: "\f162"; }
.icon-feather:before { content: "\f163"; }
.icon-figma:before { content: "\f164"; }
.icon-file:before { content: "\f165"; }
.icon-file-minus:before { content: "\f166"; }
.icon-file-plus:before { content: "\f167"; }
.icon-file-text:before { content: "\f168"; }
.icon-film:before { content: "\f169"; }
.icon-filter:before { content: "\f16a"; }
.icon-flag:before { content: "\f16b"; }
.icon-folder:before { content: "\f16c"; }
.icon-folder-minus:before { content: "\f16d"; }
.icon-folder-plus:before { content: "\f16e"; }
.icon-framer:before { content: "\f16f"; }
.icon-frown:before { content: "\f170"; }
.icon-gift:before { content: "\f171"; }
.icon-git-branch:before { content: "\f172"; }
.icon-git-commit:before { content: "\f173"; }
.icon-git-merge:before { content: "\f174"; }
.icon-git-pull-request:before { content: "\f175"; }
.icon-github:before { content: "\f176"; }
.icon-gitlab:before { content: "\f177"; }
.icon-globe:before { content: "\f178"; }
.icon-grid:before { content: "\f179"; }
.icon-hard-drive:before { content: "\f17a"; }
.icon-hash:before { content: "\f17b"; }
.icon-headphones:before { content: "\f17c"; }
.icon-heart:before { content: "\f17d"; }
.icon-help-circle:before { content: "\f17e"; }
.icon-hexagon:before { content: "\f17f"; }
.icon-home:before { content: "\f180"; }
.icon-image:before { content: "\f181"; }
.icon-inbox:before { content: "\f182"; }
.icon-info:before { content: "\f183"; }
.icon-instagram:before { content: "\f184"; }
.icon-italic:before { content: "\f185"; }
.icon-key:before { content: "\f186"; }
.icon-layers:before { content: "\f187"; }
.icon-layout:before { content: "\f188"; }
.icon-life-buoy:before { content: "\f189"; }
.icon-link:before { content: "\f18a"; }
.icon-link-2:before { content: "\f18b"; }
.icon-linkedin:before { content: "\f18c"; }
.icon-list:before { content: "\f18d"; }
.icon-loader:before { content: "\f18e"; }
.icon-lock:before { content: "\f18f"; }
.icon-log-in:before { content: "\f190"; }
.icon-log-out:before { content: "\f191"; }
.icon-mail:before { content: "\f192"; }
.icon-map:before { content: "\f193"; }
.icon-map-pin:before { content: "\f194"; }
.icon-maximize:before { content: "\f195"; }
.icon-maximize-2:before { content: "\f196"; }
.icon-meh:before { content: "\f197"; }
.icon-menu:before { content: "\f198"; }
.icon-message-circle:before { content: "\f199"; }
.icon-message-square:before { content: "\f19a"; }
.icon-mic:before { content: "\f19b"; }
.icon-mic-off:before { content: "\f19c"; }
.icon-minimize:before { content: "\f19d"; }
.icon-minimize-2:before { content: "\f19e"; }
.icon-minus:before { content: "\f19f"; }
.icon-minus-circle:before { content: "\f1a0"; }
.icon-minus-square:before { content: "\f1a1"; }
.icon-monitor:before { content: "\f1a2"; }
.icon-moon:before { content: "\f1a3"; }
.icon-more-horizontal:before { content: "\f1a4"; }
.icon-more-vertical:before { content: "\f1a5"; }
.icon-mouse-pointer:before { content: "\f1a6"; }
.icon-move:before { content: "\f1a7"; }
.icon-music:before { content: "\f1a8"; }
.icon-navigation:before { content: "\f1a9"; }
.icon-navigation-2:before { content: "\f1aa"; }
.icon-octagon:before { content: "\f1ab"; }
.icon-package:before { content: "\f1ac"; }
.icon-paperclip:before { content: "\f1ad"; }
.icon-pause:before { content: "\f1ae"; }
.icon-pause-circle:before { content: "\f1af"; }
.icon-pen-tool:before { content: "\f1b0"; }
.icon-percent:before { content: "\f1b1"; }
.icon-phone:before { content: "\f1b2"; }
.icon-phone-call:before { content: "\f1b3"; }
.icon-phone-forwarded:before { content: "\f1b4"; }
.icon-phone-incoming:before { content: "\f1b5"; }
.icon-phone-missed:before { content: "\f1b6"; }
.icon-phone-off:before { content: "\f1b7"; }
.icon-phone-outgoing:before { content: "\f1b8"; }
.icon-pie-chart:before { content: "\f1b9"; }
.icon-play:before { content: "\f1ba"; }
.icon-play-circle:before { content: "\f1bb"; }
.icon-plus:before { content: "\f1bc"; }
.icon-plus-circle:before { content: "\f1bd"; }
.icon-plus-square:before { content: "\f1be"; }
.icon-pocket:before { content: "\f1bf"; }
.icon-power:before { content: "\f1c0"; }
.icon-printer:before { content: "\f1c1"; }
.icon-radio:before { content: "\f1c2"; }
.icon-refresh-ccw:before { content: "\f1c3"; }
.icon-refresh-cw:before { content: "\f1c4"; }
.icon-repeat:before { content: "\f1c5"; }
.icon-rewind:before { content: "\f1c6"; }
.icon-rotate-ccw:before { content: "\f1c7"; }
.icon-rotate-cw:before { content: "\f1c8"; }
.icon-rss:before { content: "\f1c9"; }
.icon-save:before { content: "\f1ca"; }
.icon-scissors:before { content: "\f1cb"; }
.icon-search:before { content: "\f1cc"; }
.icon-send:before { content: "\f1cd"; }
.icon-server:before { content: "\f1ce"; }
.icon-settings:before { content: "\f1cf"; }
.icon-share:before { content: "\f1d0"; }
.icon-share-2:before { content: "\f1d1"; }
.icon-shield:before { content: "\f1d2"; }
.icon-shield-off:before { content: "\f1d3"; }
.icon-shopping-bag:before { content: "\f1d4"; }
.icon-shopping-cart:before { content: "\f1d5"; }
.icon-shuffle:before { content: "\f1d6"; }
.icon-sidebar:before { content: "\f1d7"; }
.icon-skip-back:before { content: "\f1d8"; }
.icon-skip-forward:before { content: "\f1d9"; }
.icon-slack:before { content: "\f1da"; }
.icon-slash:before { content: "\f1db"; }
.icon-sliders:before { content: "\f1dc"; }
.icon-smartphone:before { content: "\f1dd"; }
.icon-smile:before { content: "\f1de"; }
.icon-speaker:before { content: "\f1df"; }
.icon-square:before { content: "\f1e0"; }
.icon-star:before { content: "\f1e1"; }
.icon-stop-circle:before { content: "\f1e2"; }
.icon-sun:before { content: "\f1e3"; }
.icon-sunrise:before { content: "\f1e4"; }
.icon-sunset:before { content: "\f1e5"; }
.icon-tablet:before { content: "\f1e6"; }
.icon-tag:before { content: "\f1e7"; }
.icon-target:before { content: "\f1e8"; }
.icon-terminal:before { content: "\f1e9"; }
.icon-thermometer:before { content: "\f1ea"; }
.icon-thumbs-down:before { content: "\f1eb"; }
.icon-thumbs-up:before { content: "\f1ec"; }
.icon-toggle-left:before { content: "\f1ed"; }
.icon-toggle-right:before { content: "\f1ee"; }
.icon-trash:before { content: "\f1ef"; }
.icon-trash-2:before { content: "\f1f0"; }
.icon-trello:before { content: "\f1f1"; }
.icon-trending-down:before { content: "\f1f2"; }
.icon-trending-up:before { content: "\f1f3"; }
.icon-triangle:before { content: "\f1f4"; }
.icon-truck:before { content: "\f1f5"; }
.icon-tv:before { content: "\f1f6"; }
.icon-twitter:before { content: "\f1f7"; }
.icon-type:before { content: "\f1f8"; }
.icon-umbrella:before { content: "\f1f9"; }
.icon-underline:before { content: "\f1fa"; }
.icon-unlock:before { content: "\f1fb"; }
.icon-upload:before { content: "\f1fc"; }
.icon-upload-cloud:before { content: "\f1fd"; }
.icon-user:before { content: "\f1fe"; }
.icon-user-check:before { content: "\f1ff"; }
.icon-user-minus:before { content: "\f200"; }
.icon-user-plus:before { content: "\f201"; }
.icon-user-x:before { content: "\f202"; }
.icon-users:before { content: "\f203"; }
.icon-video:before { content: "\f204"; }
.icon-video-off:before { content: "\f205"; }
.icon-voicemail:before { content: "\f206"; }
.icon-volume:before { content: "\f207"; }
.icon-volume-1:before { content: "\f208"; }
.icon-volume-2:before { content: "\f209"; }
.icon-volume-x:before { content: "\f20a"; }
.icon-watch:before { content: "\f20b"; }
.icon-wifi:before { content: "\f20c"; }
.icon-wifi-off:before { content: "\f20d"; }
.icon-wind:before { content: "\f20e"; }
.icon-x:before { content: "\f20f"; }
.icon-x-circle:before { content: "\f210"; }
.icon-x-octagon:before { content: "\f211"; }
.icon-x-square:before { content: "\f212"; }
.icon-youtube:before { content: "\f213"; }
.icon-zap:before { content: "\f214"; }
.icon-zap-off:before { content: "\f215"; }
.icon-zoom-in:before { content: "\f216"; }
.icon-zoom-out:before { content: "\f217"; }
