:root {
    --transition-duration: 0.2s;
    --transition-timing: cubic-bezier(0,0,.25,1)
}

[class*="-enter-active"], [class*="-leave-active"], [class*="-move"] {
    transition: all var(--transition-duration) var(--transition-timing)
}

.move-left-enter, .move-left-leave-to {
    transform: translateX(-50px);
}

.splashscreen-enter, .splashscreen-leave-to {
    opacity: 0;
}

/* .expand-opacity-enter, .expand-opacity-enter * { 
    transition: font-size 5s var(--transition-timing), margin 5s var(--transition-timing), padding 5s var(--transition-timing), opacity 5s var(--transition-timing) 5s;
}
.expand-opacity-enter, .expand-opacity-leave-to .expand-opacity-enter *, .expand-opacity-leave-to * {
    opacity: 0;
    font-size: 0;
    margin: 0;
    padding: 0
} */

.expand-enter, .expand-leave-to, .expand-enter *, .expand-leave-to * {
    opacity: 0;
    font-size: 0;
    margin: 0;
    padding: 0
}

.expand-opacity-enter, .expand-opacity-leave-to, .expand-opacity-enter *, .expand-opacity-leave-to *, .expand-opacity-enter *::before, .expand-opacity-leave-to *::before {
    opacity: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
    transition: font-size calc( var(--transition-duration) / 2 ) var(--transition-timing), margin calc( var(--transition-duration) / 2 ) var(--transition-timing), padding calc( var(--transition-duration) / 2 ) var(--transition-timing), opacity calc( var(--transition-duration) / 2 ) var(--transition-timing) calc( var(--transition-duration) / 2 )
}

.scale-enter {
    opacity: 0;
    transform: scale(1.5);
}
.scale-leave-to {
    opacity: 0;
    transform: scale(.5);
}

.opacity-enter, .opacity-leave-to {
    opacity: 0;
}

.opacity-slide-up-enter, .opacity-slide-up-leave-to {
    opacity: 0;
    transform: translateY(50px);
}

.opacity-slide-right-enter {
    opacity: 0;
    transform: translateX(-50px);
}
.opacity-slide-right-leave-to {
    opacity: 0;
    transform: translateX(50px);
}
.opacity-slide-left-enter {
    opacity: 0;
    transform: translateX(50px);
}
.opacity-slide-left-leave-to {
    opacity: 0;
    transform: translateX(-50px);
}
.opacity-slide-down-enter {
    opacity: 0;
    transform: translateY(-50px);
}
.opacity-slide-down-leave-to {
    opacity: 0;
    transform: translateY(50px);
}

/* Slide to the right, used for task detail */
.slide-right-enter-active {
    transition-timing-function: cubic-bezier(.4,0,.4,1);
}
.slide-right-leave-active {
    transition-timing-function: cubic-bezier(.6,0.6,1);
}
.slide-right-enter-active {
    z-index: 10;
}
.slide-right-enter, .slide-right-leave-to {
    transform: translateX(100%);
}

.modal-enter-active .content, .modal-leave-active .content, .modal-enter-active .dimmer, .modal-leave-active .dimmer {
    transition: all 200ms ease-out;
}
.modal-enter .dimmer, .modal-leave-to .dimmer {
    opacity: 0;
}
.modal-enter .content, .modal-leave-to .content {
    transform: translateY(100%)
}

.popup-enter-active .content, .popup-leave-active .content, .popup-enter-active .dimmer, .popup-leave-active .dimmer {
    transition: opacity 200ms ease-out, transform 200ms ease-out;
}
.popup-enter .dimmer, .popup-leave-to .dimmer {
    opacity: 0;
}
.popup-enter .content, .popup-leave-to .content {
    opacity: 0;
    transform: translateY(50px);
    max-height: 0px;
}
.popup-enter-to .content, .popup-leave .content {
    /* opacity: 0;
    transform: translateY(50px); */
    max-height: 1000000px;
}

/* Task List */
.list-enter, .list-leave-to {
    opacity: 0;
}

.list-leave-active {
    position: absolute;
}

.list-left-enter, .list-left-leave-to {
    transform: translateX(-3em);
    opacity: 0;
}

.list-left-leave-active {
    position: absolute;
}

.list-up-enter, .list-up-leave-to {
    transform: translateY(-3em);
    opacity: 0;
}

.list-up-leave-active {
    position: absolute;
}

/* Event */
.event-description-enter, .event-description-leave-to {
    opacity: 0;
    transform: translateY(-100%);
    padding-top: 0px;
    margin-top: 0px
}

.event-description-enter-active, .event-description-leave-active {
    transition-delay: var(--transition-duration);
}